<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inclass_Bath.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4DA636781CF5037100B00DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA6368C1CF5037100B00DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA636971CF5037100B00DB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
